<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.college.mapper.ApartmentMapper">
    <select id="findById" resultType="com.example.college.pojo.Apartment">
        SELECT * FROM apartment WHERE id=#{id}
    </select>
    <select id="findAll" resultType="com.example.college.pojo.Apartment">
        SELECT * FROM apartment
    </select>
    <select id="findEmail" resultType="com.example.college.pojo.Apartment">
        SELECT * FROM apartment WHERE email=#{email}
    </select>
    <select id="selectBySchoolAdmin" resultType="com.example.college.pojo.Apartment">
        SELECT * FROM apartment
        <if test="sex!=null">
            WHERE sex=#{sex}
            <if test="apartment!=null">
                AND apartment=#{apartment}
            </if>
        </if>
        <if test="apartment!=null">
            WHERE apartment=#{apartment}
        </if>
    </select>
    <insert id="insertApartment">
        INSERT INTO apartment(id,username,password,sex,age,phone,apartment,apa_sex)
        VALUES (#{id},#{username},#{password},#{sex},#{age},#{phone},#{apartment},#{apa_sex})
    </insert>
    <update id="setExcludeStateAndEmail">
        UPDATE apartment SET username=#{username},password=#{password}
        ,sex=#{sex},age=#{age},phone=#{phone},apartment=#{apartment},apa_sex=#{apa_sex} WHERE id=#{id}
    </update>
    <update id="setNewPassword">
        UPDATE apartment SET password=#{password} WHERE id=#{id}
    </update>
    <update id="setEmail">
        UPDATE apartment SET email=#{email} WHERE id=#{id}
    </update>
    <delete id="deleteApartment">
        DELETE FROM apartment WHERE id=#{id}
    </delete>

    <select id="findByDistribution" resultType="com.example.college.pojo.Apartment">
        select * from apartment
        <where>
        <if test="apartment!=null">
            apartment=#{apartment}
        </if>
        <if test="apa_sex!=null">
            and apa_sex=#{apa_sex}
        </if>
        <if test="username!=null">
            and username like concat('%',#{username},'%')
        </if>
    </where>
    </select>

</mapper>