<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.college.mapper.Leave_stuMapper">
    <select id="findByID" resultType="com.example.college.pojo.Leave_stu">
         SELECT * FROM leave_stu WHERE id=#{id}
    </select>
    <insert id="insertLeave">
        INSERT INTO leave_stu(id,username,location,reason,now_time,end_time,state)
        VALUES (#{id},#{username},#{location},#{reason},#{now_time},#{end_time},#{state})
    </insert>
    <select id="selectByBuildingLike" resultType="com.example.college.pojo.Leave_stu">
        SELECT * FROM leave_stu WHERE location LIKE concat('%','${building}','%')
    </select>
    <update id="updateState">
        UPDATE leave_stu SET state=#{state} WHERE id=#{id}
    </update>
    <select id="selectByApartment" resultType="com.example.college.pojo.Leave_stu">
        SELECT * FROM leave_stu WHERE location LIKE concat('%','${building}','%')
        <if test="state!=null">
            AND state=#{state}
            <if test="id!=null">
                AND id=#{id}
                <if test="location!=null">
                    AND location=#{location}
                </if>
            </if>
            <if test="location!=null">
                AND location=#{location}
            </if>
        </if>
        <if test="id!=null">
            AND id=#{id}
            <if test="location!=null">
                AND location=#{location}
            </if>
        </if>
        <if test="location!=null">
            AND location=#{location}
        </if>
    </select>

    <select id="selectTotal" resultType="int">
        select count(*) from leave_stu
    </select>

<!--    <select id="selectCounts" resultType="int">-->
<!--        select count(*) from leave_stu where location like concat('%',#{building},'%')-->
<!--    </select>-->

    <select id="selectLeaves" resultType="com.example.college.pojo.Leave_stu">
        select * from leave_stu limit #{page},#{limit}
    </select>

    <select id="schLeaves" resultType="com.example.college.pojo.Leave_stu">
        select * from leave_stu
        <where>
            <if test="state!=null">
                state = #{state}
            </if>
            <if test="id!=null">
                and id = #{id}
            </if>
            <if test="location!=null">
                and location = #{location}
            </if>
            <if test="building!=null">
                and location like concat('%',#{building},'%')
            </if>

        </where>
            limit #{page},#{limit}
    </select>
    <update id="updateLeaveState">
        UPDATE leave_stu SET state=#{state} WHERE id=#{id}
    </update>

</mapper>