<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.college.mapper.StudentMapper">
    <select id="findById" resultType="com.example.college.pojo.Student">
         SELECT * FROM student WHERE stu_id=#{id}
    </select>
    <select id="findEmail" resultType="com.example.college.pojo.Student">
        SELECT * FROM student WHERE email=#{email}
    </select>
    <update id="setNewPassword">
        UPDATE student SET password=#{password} WHERE stu_id=#{id}
    </update>
    <update id="setEmail">
        UPDATE student SET email=#{email} WHERE stu_id=#{id}
    </update>
    <select id="findByLocation" resultType="com.example.college.pojo.Student">
        SELECT * FROM student WHERE location=#{location}
    </select>
    <update id="updateState">
        UPDATE student SET state=#{state} WHERE stu_id=#{id}
    </update>
    <select id="selectRelative" resultType="com.example.college.pojo.Student">
        SELECT * FROM student WHERE major=#{major} AND grade=#{grade} AND number=#{number}
    </select>
    <select id="selectByRelative" resultType="com.example.college.pojo.Student">
        SELECT * FROM student WHERE major=#{major} AND grade=#{grade} AND number=#{number}
        <if test="sex !=null">
            AND sex=#{sex}
            <if test="username !=null">
                AND username=#{username}
                <if test="stu_id !=null">
                    AND stu_id=#{stu_id}
                </if>
            </if>
            <if test="stu_id !=null">
                AND stu_id=#{stu_id}
            </if>
        </if>
        <if test="username !=null">
            AND username=#{username}
            <if test="stu_id !=null">
                AND stu_id=#{stu_id}
            </if>
        </if>
        <if test="stu_id !=null">
            AND stu_id=#{stu_id}
        </if>
    </select>
</mapper>