<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.college.mapper.TempleteMapper">
    <select id="find" resultType="com.example.college.pojo.Templete">
         SELECT * FROM templete
    </select>
    <delete id="delete">
        DELETE FROM templete
    </delete>
    <insert id="insertID">
        INSERT INTO templete(id) values (#{id})
    </insert>
</mapper>