<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>宿舍管理系统</title>

    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" href="../src/css/layui.css">
    <link th:href="@{/asserts/css/bootstrap.min.css}" href="../../static/asserts/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/asserts/css/dashboard.css}" href="../../static/asserts/css/dashboard.css" rel="stylesheet">

    <script th:src="@{/layui/layui.js}" src="../src/layui.js"></script>

    <style type="text/css">
        #table1{
            margin-bottom: 50px;
        }



        #btn_demo{
            margin-left: 30px;
        }

    </style>


</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头部-->
    <div th:replace="~{commons/common_apa::topbar(clock='1',id=${apa.id})}"></div>



    <!--侧边栏-->
    <div th:replace="~{commons/common_apa::siderbar(activeURL='studentMessage',id=${apa.id})}"></div>


    <!-- 内容主体区域 -->

    <div class="layui-body" style="padding-top: 50px">
        <div class="layui-container">
            <div class="layui-main">
                <form class="form-inline">
                <div class="table-responsive" style="padding-left: 30px">
                    <table id="table1" class="table table-striped table-sm" >
                        <thead>
                        <tr>
                            <th>学号</th>
                            <th>姓名</th>
                            <th>宿舍</th>
                            <th>性别</th>
                            <th>年级</th>
                            <th>班级</th>
                            <th>邮箱</th>
                            <th>专业</th>
                            <th>状态</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="student:${students}">
                            <td th:text="${student.stu_id}"></td>
                            <td th:text="${student.username}"></td>
                            <td th:text="${student.location}"></td>
                            <td th:text="${student.sex}"></td>
                            <td th:text="${student.grade}"></td>
                            <td th:text="${student.number}"></td>
                            <td th:text="${student.email}"></td>
                            <td th:text="${student.major}"></td>
                            <td th:text="${student.state}"></td>
                        </tr>
                        </tbody>

                    </table>
                    <br>


                </div>

            </div>

        </div>

    </div>

    <!--        <div style="padding: 15px;">内容主体区域</div>-->



</div>

<script>

    layui.use('element',function () {
        var element = layui.element;
    })


</script>
</body>
</html>