<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


        <div class="layui-header" th:fragment="topbar">
            <div class="layui-logo">宿舍管理系统</div>

            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                        [[${id}]]
                    </a>
                </li>
                <li class="layui-nav-item"><a href="" th:if="${clock=='3'}" th:href="@{/absence/confirm/{id}(id=${id})}" >确认缺勤情况</a></li>
                <li class="layui-nav-item"><a href="" th:if="${clock=='3'}" th:href="@{/absence/submit/{id}(id=${id})}" >上报缺勤情况</a></li>
                <li class="layui-nav-item"><a th:href="@{/backLogin}">退了</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black" th:fragment="siderbar">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree"  lay-filter="test">

                    <li th:class="${activeURL=='apaMain'?'layui-nav-item layui-nav-itemed':'layui-nav-item'}">
                        <a th:href="@{/apaMain/{id}(id=${id})}" href="javascript:;">宿舍管理</a>
                    </li>
                    <li th:class="${activeURL=='studentMessage'?'layui-nav-item layui-nav-itemed':'layui-nav-item'}">
                        <a th:href="@{/apaStudentMessage/{id}(id=${id})}" href="">学生信息</a>
                    </li>
                    <li th:class="${activeURL=='absences'?'layui-nav-item layui-nav-itemed':'layui-nav-item'}">
                        <a th:href="@{/absences/{id}(id=${id})}" href="">缺勤情况</a>
                    </li>
                    <li th:class="${activeURL=='declareProcessing'?'layui-nav-item layui-nav-itemed':'layui-nav-item'}">
                        <a th:href="@{/declareProcessing/{id}(id=${id})}" href="">申报处理</a>
                    </li>
                    <li th:class="${activeURL=='leaveProcessing'?'layui-nav-item layui-nav-itemed':'layui-nav-item'}">
                        <a th:href="@{/leaveProcessing/{id}(id=${id})}" href="">请假处理</a>
                    </li>
                    <li th:class="${activeURL=='feedbackProcessing'?'layui-nav-item layui-nav-itemed':'layui-nav-item'}">
                        <a th:href="@{/feedbackProcessing/{id}(id=${id})}" href="">反馈处理</a>
                    </li>
                    <li th:class="${activeURL=='personalMessage'?'layui-nav-item layui-nav-itemed':'layui-nav-item'}">
                        <a th:href="@{/personalApaMessage/{id}(id=${id})}" href="">个人信息</a>
                    </li>
                    <li th:class="${activeURL=='historyRecords'?'layui-nav-item layui-nav-itemed':'layui-nav-item'}">
                        <a th:href="@{/historyRecords/{id}(id=${id})}" href="">历史记录</a>
                    </li>
                </ul>
            </div>
        </div>




</html>