<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>宿舍管理系统</title>

    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" href="../src/css/layui.css">
    <link th:href="@{/asserts/css/bootstrap.min.css}" href="../../static/asserts/css/bootstrap.min.css" rel="stylesheet">
    <script th:src="@{/layui/layui.js}" src="../src/layui.js"></script>

    <style type="text/css">
        #table1{
            margin-bottom: 50px;
        }

        #input_2{
            margin-left: 50px;
        }

        #btn_demo{
            margin-left: 50px;
        }

    </style>


</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头部-->
    <div th:replace="~{commons/common_school::topbar(clock='3',id=${sch.sch_id})}"></div>



    <!--侧边栏-->
    <div th:replace="~{commons/common_school::siderbar(id=${sch.sch_id},activeURL='absenceManage')}"></div>


    <!-- 内容主体区域 -->

    <div class="layui-body" style="padding-top: 50px">
            <div class="layui-form-item" style="padding-left: 30px">
                <div class="layui-inline">
                    <label class="layui-form-label" style="padding: 5px">处理状态: </label>
                    <div class="layui-input-inline">
                        <input class="layui-input" name="state" id="state" autocomplete="off">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label" style="padding: 5px">学号: </label>
                    <div class="layui-input-inline">
                        <input class="layui-input" name="id" id="id" autocomplete="off">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label" style="padding: 5px">宿舍: </label>
                    <div class="layui-input-inline">
                        <input class="layui-input" name="location" id="location" autocomplete="off">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label" style="padding: 5px">栋数: </label>
                    <div class="layui-input-inline">
                        <input class="layui-input" name="building" id="building" autocomplete="off">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layui-btn-normal" id="doSearch">查 询</button>
                </div>

            </div>
            <br>
            <div class="" style="padding-left: 30px">
                <table class="layui-hide" id="leaveTable" lay-filter="demo_1">

                </table>


            </div>





    </div>

    <!--        <div style="padding: 15px;">内容主体区域</div>-->



</div>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="agree">同意</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="disagree">拒绝</a>
</script>

<script>

    layui.use(['element','table','layer'],function () {
        var element = layui.element;
        var table = layui.table;
        var layer = layui.layer;
        var $ = layui.jquery;


        //渲染表格
        table.render({
            elem: '#leaveTable'
            , url: '/schAdmin/leaveProcessing'
            , title: '用户数据表'
            , page: true
            , limit:10
            , id:'testReload'
            , cols: [
                [
                    // {type: 'checkbox', fixed: 'left'}
                      {field: 'id', title: '学号'}
                    , {field: 'username', title: '姓名'}
                    , {field: 'reason', title: '原因'}
                    , {field: 'location', title: '宿舍'}
                    , {field: 'now_time', title: '开始时间'}
                    , {field: 'end_time', title: '结束时间'}
                    , {field: 'state', title: '状态'}
                    , {field: 'right', title: '操作',toolbar: '#barDemo'}

                ]
            ]


        });

        $('#doSearch').on('click',function () {
                var id = $('#id');
                var state = $('#state');
                var location = $('#location');
                var building = $('#building');

                table.reload('testReload',{

                    where:{
                        'id':id.val(),
                        'state':state.val(),
                        'location':location.val(),
                        'building':building.val()
                    }
                    ,page: {

                    }

                })

        });


        table.on('tool(demo_1)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）
            var sch_id = $('#sch_id').text();




            console.log(sch_id);


            console.log(data);

            if(layEvent === 'agree'){ //查看
                //do somehing
                $.ajax({
                    type : 'post',
                    url : '/leave/agree',
                    data : JSON.stringify(
                        {
                        id:data.id,
                        username:data.username,
                        location:data.location,
                        reason:data.reason,
                        now_time:data.now_time,
                        end_time:data.end_time,
                        state:data.state

                    }
                    ),
                    contentType:"application/json",
                    success:function (result) {
                        if (result=="success"){
                            console.log("yes");
                            window.location.href="/schAdmin/backLeaveManage?sch_id="+sch_id;
                        }

                    }

                })

            } else if(layEvent === 'disagree'){ //删除
                $.ajax({
                    type : 'post',
                    url : '/leave/disagree',
                    data : JSON.stringify(
                        {
                            id:data.id,
                            username:data.username,
                            location:data.location,
                            reason:data.reason,
                            now_time:data.now_time,
                            end_time:data.end_time,
                            state:data.state

                        }
                    ),
                    contentType:"application/json",
                    success:function (result) {
                        if (result=="success"){
                            console.log("yes");
                            window.location.href="/schAdmin/backLeaveManage?sch_id="+sch_id;
                        }

                    }

                })

            } else if(layEvent === 'edit'){ //编辑
                //do something

                //同步更新缓存对应的值
                obj.update({
                    username: '123'
                    ,title: 'xxx'
                });
            } else if(layEvent === 'LAYTABLE_TIPS'){
                layer.alert('Hi，头部工具栏扩展的右侧图标。');
            }
        });



    })


</script>
</body>
</html>