<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>找回验证</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <title>登录</title>
    <link rel="stylesheet" th:href="@{/asserts/css_1/style.css}" href="asserts/css_1/style.css">
    <!--    <link rel="stylesheet" th:href="@{/asserts/css/bootstrap.min.css}">-->
    <!--    <link rel="stylesheet" th:href="@{/asserts/css/signin.css}">-->
    <script type="text/javascript" th:src="@{/asserts/js_1/jquery.min.js}" src="asserts/js_1/jquery.min.js"></script>

</head>
<body>
<div class="content">
    <form action="" method="post" th:action="@{confirm/{id}/{code}(id=${id},code=${code})}">
        <div style="margin-top: 90px">
            <h2>验证改密</h2>
            <label>
                <span>验证码</span>
                <input name="confirmCode" type="text" required="required"/>
            </label>
            <label>
                <span>新密码</span>
                <input name="newPassword" type="password" required="required"/>
            </label>
            <!--            <p class="forgot-pass"><span name="message">${msg}</span></p>-->
            <button type="submit" class="submit" onclick="check()">确认</button>

        </div>
    </form>
    </div>
</body>
</html>